body {
    
    
}

.background-img1 {
    /* background: url(png/polygon.png) center no-repeat; */
   /*  background: url("png/polygon.png") center no-repeat; */
    /* background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative; */
    background: url('/assets/png/Polygon.png') center no-repeat;
    /* background-size: cover;
    background-attachment: fixed;
    background-position: 300px; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* background-position: calc(100% + 300px) calc(100% - 10px);  */
    /* background-position: 10000 40% */
    /* background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 300px;
    
    
  
    



}

.title-font1 {
font-family: 'Source Code', monospace;
font-size: 25pt;
font-weight: 600;
/* font-weight: semi-bold; */
margin-top: 10%;

}

h1 {
    font-family: 'Source Code', monospace;
    font-size: 25pt;
    font-weight: 600;
    /* font-weight: semi-bold; */
    margin-top: 10%;
    

}

h2 {
    font-family: 'Source Code', monospace;
    font-size: 18pt;
    font-weight: 300;
    /* font-weight: semi-bold; */

    

}
h3 {
    font-family: 'Source Code', monospace;
    font-size: 15pt;
    font-weight: 200;
    /* font-weight: semi-bold; */
    

}
p {
    font-family: 'Source Code', monospace;
    font-size: 12pt;
    font-weight: 100;
    /* margin-left: 10%; */
}

.card-body ul {
    font-family: 'Source Code', monospace;
    font-size: 12pt;
    font-weight: 100;
    margin-left: 10%;

}

.indent {
    margin-left: 10%;
}
.indent8 {
    margin-left: 8%;
}

.spotify {
    margin-left: 10%;
}

.instagram {
    margin-left: 10%;
}

.transparent {
    background-color: rgba(245, 245, 245, 0.2);
 }

 .no-indent {
    text-align: left;
    margin-left: 0%;
     
 }

 .no-padding {
     padding-left: 0px;
     padding-right: 0px;
 }

 .font {
    font-family: 'Source Code', monospace;

 }

 .container {
     margin-left: 0px;
     margin-right: 0px;
 }

 .question {
     font-style: italic;
     font-weight: 600;
     font-size: 11pt;
 }

.code {
    font-family: Consolas,"courier new";
    background-color: rgba(212, 212, 212, 0.3);

    color: red;
}

.bold {

    font-weight: 600;
}

.scrollbox {

    height: 400px;
    width: 600px;
    overflow: auto;
}

.eg-sticky {
    
    position: sticky;
    top: 0px;
    left: 200px;
    padding: 1px;
    background-color: #cae8ca;
    border: 1px solid #4CAF50;
    font-size: 10pt;
}

.eg-fixed {
    
    position: fixed;
    top: 415px;
    left: 200px;
    padding: 1px;
    background-color: #cae8ca;
    border: 1px solid #4CAF50;
    font-size: 10pt;
    
}

.eg-static {
    
    position: static;
    padding: 1px;
    background-color: #cae8ca;
    border: 1px solid #4CAF50;
    font-size: 10pt;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    
}

.eg-relative {
    
    position: relative;
    padding: 1px;
    left: 200px;
    bottom: 250px;
    background-color: #cae8ca;
    border: 1px solid #4CAF50;
    font-size: 10pt;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    
}

